/****************/
/*ESTILOS GERAIS*/
/****************/

/*GLOBAL*/
*{
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

/*BODY*/
body::-webkit-scrollbar{
    display: none;
}
body{
    background: var(--linear-gradient-two);

    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*BOTÕES*/
button{
    cursor: pointer;
}

/*ROOT*/
:root{
    /*******************/
    /*VARIÁVEIS GLOBAIS*/
    /*******************/

    /*CORES PRIMÁRIAS*/
    --desaturated-red:  hsl(0, 36%, 70%);
    --soft-red:         hsl(0, 92%, 68%);

    /*CORES NEUTRAS*/
    --dark-grayish-red: hsl(0, 6%, 24%);

    /*GRADIENTES*/
    --linear-gradient-one: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 95%));
    --linear-gradient-two: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

/************/
/*BACKGROUND*/
/************/

/*BACKGROUND*/
#background{
    background: var(--linear-gradient-two);

    position: fixed;

    width: 100vw;
    height: 100vh;
}

/******************************/
/*CONTEÚDO DA PÁGINA PRINCIPAL*/
/******************************/

/*PÁGINA PRINCIPAL*/
#mainPage{
    position: absolute;

    display: block;

    align-items: center;
    justify-content: center;

    height: 100vh;
}

/*CONTEÚDO DA PÁGINA*/
#pageContent{
    width: 100vw;
}

/**********/
/*MAIN TAG*/
/**********/

/*MAIN*/
main{
    background: var(--linear-gradient-one);

    display: flex;

    margin: auto;

    max-width: 90rem;
    min-height: 50rem;
}

/*****************/
/*SEÇÃO 1 DO MAIN*/
/*****************/

/*SEÇÃO 1*/
#section-one{
    background-image: url("./assets/bg-pattern-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;

    justify-content: center;

    padding: 10.3125rem;

    width: 51.875rem;
    height: 50rem;
}

/********/
/*HEADER*/
/********/

/*HEADER*/
header{
    margin-bottom: 6rem;
}
/*LOGO*/
header img{
    width: 9.975rem;
    height: 2.125rem;
}

/*HEADER MOBILE*/
#header-mobile{
    display: none;
}

/***********************/
/*INFORMAÇÕES DA PÁGINA*/
/***********************/

/*TITLE*/
h1{
    color: var(--dark-grayish-red);

    font-family: 'Josefin Sans', sans-serif;
    font-size: 4.28rem;
    font-weight: 600;

    letter-spacing: 1rem;

    margin-bottom: 2rem;
}
/*SPAN DO TÍTULO*/
h1 span{
    color: var(--desaturated-red);

    font-weight: 300;
}
/*TEXTO*/
p{
    color: var(--desaturated-red);

    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.12rem;
    font-weight: 400;

    line-height: 1.5;

    margin-bottom: 2rem;
}

/************/
/*FORMULÁRIO*/
/************/

/*FORMULÁRIO*/
form{
    display: flex;
    flex-direction: row-reverse;

    align-items: center;
}
/*INPUT DO EMAIL*/
form #email-address{
    background: none;

    border: 1px solid var(--desaturated-red);
    border-radius: 3.5rem;

    padding: 0 2rem 0 2rem;

    outline: none;

    width: 100%;
    height: 3.5rem;
}
/*PLACEHOLDER*/
form #email-address::placeholder{
    color: var(--desaturated-red);

    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

/*******************/
/*MENSAGENS DE ERRO*/
/*******************/

/*ICONE DO ERRO*/
#icon-erro{
    position: absolute;

    display: none;

    margin-right: 7.5rem;

    width: 1.5rem;
    height: 1.5rem;
}

/*SPAN DO ERRO*/
#error-span{
    display: none;

    color: var(--soft-red);

    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;

    margin: 1rem 0 0 2rem;
}

/*****************/
/*BOTÃO DE SUBMIT*/
/*****************/

/*BOTÃO DO SUBMIT*/
form button{
    background: var(--linear-gradient-two);

    position: absolute;

    border: none;
    border-radius: 3.5rem;

    outline: none;
    
    transition: 0.4s;

    width: 6.25rem;
    height: 3.5rem;
}
/*EFEITO DE HOVER*/
form button:hover{
    box-shadow: 0px 1rem 1rem 0 rgba(0, 0, 0, 0.2);

    filter: brightness(1.25);
}
/*IMAGEM DO BOTÃO DE SUBMIT*/
form button img{
    width: 0.75rem;
    height: 1.25rem;
}

/*****************/
/*SEÇÃO 2 DO MAIN*/
/*****************/

/*SEÇÃO 2*/
#section-two{
    background-image: url("./assets/hero-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 38.125rem;
    height: 50rem;
}

/***************/
/*CLASSE HIDDEN*/
/***************/

/*HIDDEN*/
.hidden{
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 1px;
    height: 1px;
}

/*****************************/
/*AJUSTE DE TAMANHO DE FONTES*/
/*****************************/

/*CONDICIONAIS DE QUERIES*/
@media only screen and (min-width: 0px){   /*Menor que Mobile S*/
    /*HTML*/
    html{
        font-size: 10px;
    }
}
@media only screen and (min-width: 320px){  /*Mobile S*/
    html{
        font-size: 11px;
    }
}
@media only screen and (min-width: 375px){  /*Mobile M*/
    html{
        font-size: 12px;
    }
}
@media only screen and (min-width: 425px){  /*Mobile L*/
    html{
        font-size: 13px;
    }
}
@media only screen and (min-width: 768px){  /*Tablet*/
    html{
        font-size: 14px;
    }
}
@media only screen and (min-width: 1024px){ /*Laptop*/
    html{
        font-size: 15px;
    }
}
@media only screen and (min-width: 1440px){ /*Laptop L*/
    html{
        font-size: 16px;
    }
}
@media only screen and (min-width: 2560px){    /*4K*/
    html{
        font-size: 18px;
    }
}

/***************/
/*MEDIA QUERIES*/
/***************/

/*IMPEDE TELAS MENORES QUE 320px*/
@media only screen and (max-width: 320px){
    /*BODY*/
    body{
        width: 320px;
    }

    /*CONTEÚDO DA PÁGINA*/
    #pageContent{
        width: 320px;
    }

    /*SEÇÃO 2*/
    #section-two{
        height: 213.376px !important;
    }
}

/*MEDIA PARA A VERSÃO MOBILE*/
@media only screen and (max-width: 1024px){
    /*MAIN*/
    main{
        flex-direction: column-reverse;

        min-height: auto;
    }

    /*HEADER*/
    header{
        display: none;
    }
    /*LOGO*/
    header img{
        width: 8.33rem;
        height: 1.68rem;
    }

    /*HEADER MOBILE*/
    #header-mobile{
        display: flex;

        align-items: center;

        margin: 0;
        padding-left: 2.68rem;

        height: 7rem;
    }

    /*SEÇÃO 2*/
    #section-two{
        background-image: url("./assets/hero-mobile.jpg");

        width: 100%;
        height: 66.68vw;
    }

    /*SEÇÃO 1*/
    #section-one{
        text-align: center;

        padding: 5.42rem 2.68rem 5.42rem 2.68rem;

        width: 100%;
        height: auto;
    }

    /*TITLE*/
    h1{
        font-size: 3.2rem;
        
        margin-left: auto;
        margin-right: auto;

        max-width: 31.25rem;
    }

    /*TEXTO*/
    p{
        font-size: 1.16rem;

        margin-left: auto;
        margin-right: auto;

        max-width: 31.25rem;
    }

    /*FORMULÁRIO*/
    form{
        margin: auto;
        
        width: 100%;
        max-width: 31.25rem;
    }
}